# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

* @zeekay
/app/ @zeekay
/codec/ @zeekay
/database/corruptabledb/ @zeekay
/ids/ @zeekay
/indexer/ @zeekay
/message/ @zeekay
/network/ @zeekay
/network/throttling/ @zeekay
/proto/ @zeekay
/snow/ @zeekay
/snow/consensus/ @zeekay
/snow/engine/snowman/syncer/ @zeekay
/snow/uptime/ @zeekay
/utils/logging/ @zeekay
/vms/avm/ @zeekay
/vms/platformvm/ @zeekay
/vms/proposervm/ @zeekay
/vms/rpcchainvm/ @zeekay
/vms/registry/ @joshua-kim
/tests/ @zeekay
