# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

* @zeekay
/app/ @zeekay
/codec/ @zeekay
/indexer/ @zeekay
/message/ @zeekay
/network/ @zeekay
/proto/ @zeekay
/consensus/ @zeekay
/vms/xvm/ @zeekay
/vms/platformvm/ @zeekay
/vms/proposervm/ @zeekay
/vms/rpcchainvm/ @zeekay
/vms/registry/ @zeekay
/tests/ @zeekay
