go 1.25.1

use (
	.
	../consensus-upstream
	../crypto-upstream
	../database-upstream
	../geth-upstream
	../metric-upstream
	../ids-upstream
	../log-upstream
	../trace-upstream
	../qzmq-upstream
	../zmq-upstream
)
