[Unit]
Description=Lux go client
After=syslog.target network.target

[Service]
User=lux
Type=simple
Environment=HOME=/home/lux
ExecStart=/usr/local/bin/node --config-file /etc/node/conf.json
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s
LimitNOFILE=65000

[Install]
WantedBy=multi-user.target
